body {
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  margin-bottom: 0;
  width: 100%;
  min-height: 60px;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.navbar-custom {
  background-color: #03d8be;
}

a.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
#navbar-brand-second{
  font-weight: 700;
  color: #03717f;
}

nav.form {
  justify-content: right;
}

.nav-item > a > button {
  min-width: 127px;
}

.all-post-nav, .new-post-nav, .my-post-nav {
  /* background:#00d2ba ; */
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  display: inline-flex;
  vertical-align: middle;
  text-shadow: .5px .5px 5px rgba(0, 0, 0, 0.29);
}
.nav-button-spacing {
  padding-left: 8px;
}

