html, body, #root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.logoOne {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;

}
.logoTwo {
  font-size: 30px;
  font-weight: 700;
  color: #03717f;

}

.wrapper {
  background: rgb(161, 203, 231);
  height: 100%;
  align-content: flex-start;
  overflow: auto;
}

.container-fluid {
  position: relative;
  padding: 15px 10% 5px 10%;
}
