html, body, #root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background: rgb(161, 203, 231);
  height: 100%;
  align-content: flex-start;
  overflow: auto;
}

.container-fluid {
  position: relative;
  padding: 15px 10% 5px 10%;
}
