.signupContainer {
  width: 30%;
}
#logoSignup {
  text-align: center;
  line-height: 0px;
  padding-bottom: 40px;
}

#signupContainer {
  background-color: #01c6af
  !important;
}

input {
  clear: both;
  width: 100%;
}

input.invalid {
  border: 2px dotted red;
}
