.inputForm {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.editor {
  border: 1px solid #ddd;
  margin-top: 0.3em;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  max-width: 1000px;
  width: 80%;
}

.menu {
  border-radius: 2px;
  padding: 5px 10px;
  margin-top: 02em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  max-width: 1000px;
  width: 80%;
  border: 1px solid #ddd;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.selector {
  padding: 5px;
}


/* -- Slate-RichText-Example -- */

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
 * Icons.
 */

.material-icons {
  font-size: 24px;
  vertical-align: text-bottom;
}

.button {
  color: #aaa;
  cursor: pointer;
}

.button[data-active='true'] {
  color: black;
}

/* ------------------ */
